body {
  background: url(../../images/landing-page-office-after-process.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.container {
	vertical-align: middle;
}

.text h1 {
  text-align: center;
  text-shadow: 1px 1px rgba(0,0,0,.3);
  color: #ffffff;
  margin-top: 10px;
  font-family: 'Arvo', serif;
  font-weight: 600;
  font-size: 38px;
  margin-top: 2%;
}

.container input {
	box-shadow: 4px 4px 10px black;
}

.blur {
  height: 500px;
  width: 100%;
  margin: -20px auto;
  z-index: -1;
  position: relative;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: url(#blur);
  filter: progid: DXImageTransform.Microsoft.Blur(PixelRadius='10');
  overflow: hidden;
}

.blur:after {
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .2);
  position: absolute;
}

.widget {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}